/* BASE STYLES FOR ADD RECIPE FORM COMPONENTS */
.recipe-form-components {
  @apply w-full h-10 p-2 bg-[--gray-light] rounded-md focus:outline-none focus:ring-2 focus:ring-[--gray-dark];
}

.error-text {
  @apply text-xs text-[#E74A3B];
}

.no-scroll {
  overflow: hidden;
}

.content-container {
  @apply w-[343px] md:w-[704px] lg:w-[1240px] mx-auto;
}

.heading-brand {
  @apply text-xl tracking-wide;
}

.inner-shadow {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}

.outer-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.heading-l {
  @apply text-xl font-semibold mb-8;
}

.hover-green {
  @apply hover:text-[--primary-color];
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.negative-z-index {
  z-index: -1;
}

.bg-top-left {
  @apply absolute top-0 left-0 bg-cover bg-no-repeat;
}

.bg-top-right {
  @apply absolute top-0 right-0 bg-cover bg-no-repeat;
}

.dropdown {
  @apply absolute right-0 top-full z-50 mt-3 w-auto p-5 rounded-lg bg-white shadow-md border border-[--gray-light] min-w-[210px] flex flex-col gap-2 justify-start items-start;
}
