@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("custom.css");

@layer base {
  :root {
    --foreground: #000000;
    --background: #fafafa;
    --primary-color: #8baa36;
    --green-light: #ebf3d4;
    --gray: #d9d9d9;
    --gray-dark: #22252a;
    --gray-medium: #5d5d5d;
    --gray-light: #efefef;
    --font: #23262a;
  }

  .dark {
    --foreground: #fafafa;
    --background: #22252a;
    --font: #fafafa;
  }
}

body {
  color: var(--font);
  background-color: var(--background);
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NAVIGATION */
nav a {
  @apply hover:text-[--primary-color] duration-300 transition-colors;
}

.main-background {
  background-image: url("/bg.jpg");
}
